@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #222;
}

.container {
    background-color: #222;
}

h1 {
    font-weight: 400;
    text-align: center;
    margin: 1rem;
    color: yellowgreen;
}

.forms {
    display: flex;
    justify-content: center;
    border-bottom: 2px yellowgreen solid;
    padding-bottom: 1rem;
}

form {
    display: flex;
    color: yellowgreen;
}

input {
    padding: .2rem;
    border: 2px yellowgreen solid;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

input:focus {
    outline: none;
}

.error {
    color: tomato;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

.songs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.song-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 1rem;
    border: 2px yellowgreen solid;
    margin: 1rem;
    border-radius: 10px;
    color: yellowgreen;
    box-shadow: 0px 0px 20px 1px yellowgreen;
}

.song-card .album-cover {
    width: 90%;
    border-radius: 5px;
    margin: 1rem;
    border: 1px solid yellowgreen;
}

.song-card .artist-name {
    margin: .5rem;
}

.song-name {
    padding: .5rem;
}

.lyrics {
    text-decoration: none;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    padding: .3rem;
    margin: .3rem;
    border-radius: 5px;
}

.lyrics:hover {
    background: yellowgreen;
    color: #222;
    box-shadow: 0px 0px 20px 2px yellowgreen;
}